#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";
                base {
                        label = "BASE";
                        display-name = "Base";
                        bindings = <
        &kp ESC    &kp Q  &kp W     &kp E  &kp R      &kp T      &kp A         &kp A      &kp Y   &kp U     &kp I     &kp O    &kp P     &kp BSPC
        &kp TAB    &kp A  &kp S     &kp D  &kp F      &kp G      &kp A         &kp A      &kp H   &kp J     &kp K     &kp L    &kp SEMI  &kp SQT
        &kp LSHFT  &kp Z  &kp X     &kp C  &kp V      &kp B                               &kp N   &kp M     &kp COMMA &kp DOT  &kp FSLH  &kp RSHFT
                          &kp LWIN  &mo 2  &kp LCTRL  &kp LSHFT  &kp RET       &kp SPACE  &mo 1   &kp RALT  &kp LALT  &kp RWIN
                        >;
                                // | ESC  |  Q  |  W  |  E  |  R  |  T  | A        A |  Y  |  U  |  I  |  O  |  P  |  <-  |
                                // | TAB  |  A  |  S  |  D  |  F  |  G  | A        A |  H  |  J  |  K  |  L  |  ;  |  '   |
                                // | LSHFT|  Z  |  X  |  C  |  V  |  B  |            |  N  |  M  |  ,  |  .  |  /  |RSHFT |
                                //              | LWIN| MO2 |LCTRL|LSHFT| ENT |    | SPC | MO1 |RALT |LALT |RWIN |
                };

                sym {
                        label = "SYM";
                        display-name = "Symbols";
                        bindings = <
        &kp GRAVE  &kp AMPS  &kp STAR  &kp RA(N3)  &kp CARET  &kp PLUS   &kp F15        &kp F15    &kp EQUAL  &kp HOME  &kp UP          &kp END    &kp AT   &kp BSPC
        &kp PRCNT  &kp EXCL  &kp HASH  &kp LBKT    &kp RBKT   &kp MINUS  &kp F16        &kp F16    &kp UNDER  &kp LEFT  &kp DOWN        &kp RIGHT  &kp RET  &kp RSHFT
        &kp LSHFT  &kp HASH  &kp DLLR  &kp LBRC    &kp RBRC   &kp PIPE                             &kp BSLH   &kp LPAR  &kp RPAR        &kp DEL    &kp RET  &kp RCTRL
                             &trans    &trans      &kp LCTRL  &kp LSHFT  &kp RET        &kp SPACE  &trans     &kp RALT  &studio_unlock  &trans
                        >;
                                // |  `   |  &  |  *  |  ê  |  ^  |  +  | F15 |    | F15 |  =  |HOME | UP  | END |  @  |  <-  |
                                // |  %   |  !  |  #  |  [  |  ]  |  -  | F16 |    | F16 |  _  | <-  | DOW | ->  | RET |RSHFT |
                                // | LSHFT|  #  |  $  |  {  |  }  |  |  |                |  \  |  (  |  )  | DEL | RET |RCTRL |
                                //              |     |     |LCTRL|LSHFT| ENT |    | SPC |     |RALT |     |     |
                };

                num {
                        label = "NUM";
                        display-name = "Numbers";
                        bindings = <
        &to 3      &kp F1  &kp F2  &kp F3        &kp F4        &kp F5     &kp F17   &kp F17   &kp F6  &kp F7    &kp F8     &kp F9   &kp F10   &kp BSPC
        &trans     &kp N1  &kp N2  &kp N3        &kp N4        &kp N5     &kp F18   &kp F18   &kp N6  &kp N7    &kp N8     &kp N9   &kp N0    &kp RSHFT
        &kp LSHFT  &none   &none   &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE                     &none   &none     &kp COMMA  &kp DOT  &kp FSLH  &trans
                           &trans  &trans        &kp LWIN      &trans     &kp RET   &trans    &trans  &kp RALT  &trans     &trans
                        >;
                                // |  to3 | F1  | F2  | F3  | F4  | F5  | F17 |       | F17 | F6  | F7  | F8  | F9  | F10 |  <-  |
                                // |      |  1  |  2  |  3  |  4  |  5  | F18 |       | F18 |  6  |  7  |  8  |  9  |  0  |RSHFT |
                                // | LSHFT|     |     |vol- |vol+ |MUTE |                   |     |     |  ,  |  .  |  /  |      |
                                //              |     |     |LWIN |     | ENT |       |     |     |RALT |     |     |
                };
                settings {
                        label = "SETTINGS";
                        display-name = "Settings";
                        bindings = <
        &to 0  &none  &none  &none  &none  &none  &none         &none  &none         &none         &none         &none  &none  &bt BT_CLR
        &none  &none  &none  &none  &none  &none  &none         &none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &none  &none  &none
        &none  &none  &none  &none  &none  &none                       &none         &none         &none         &none  &none  &none
                      &none  &none  &none  &none  &none         &none  &none         &none         &none         &none
                        >;
                                // | to0 |     |     |     |     |                |     |     |     |     |     | clr |
                                // |     |     |     |     |     |                |     | bt1 | bt2 | bt3 |     |     |
                                // |     |     |     |     |     |                |     |     |     |     |     |     |
                                //             |     |     |     |     |    |     |     |     |     |     |
                };
        };
};
